* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    background-color: #081b29;
}

/* navbar start */

header {
    background-color: rgba(0, 0, 0, 0.2);
}

header .navbar {
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header .navbar .logo h1 {
    font-weight: 700;
    font-size: 1.8rem;
    color: #fff;
    position: relative;
    transition: all 0.3s ease-out;
}

header .navbar .logo h1:hover {
    transform: scale(1.1);
}

header .navbar .logo h1::after {
    content: "";
    position: absolute;
    bottom: -4px;
    right: 1;
    background-color: red;
    height: 5px;
    width: 10%;
    transition: all 0.3s ease-out;
}

header .navbar .logo h1:hover::after {
    width: 0%;
}


header .navbar .list {
    display: flex;
    align-items: center;
    gap: 3rem;
}

header .navbar .list li {
    font-weight: 600;
    font-size: 1.2rem;
    position: relative;
}

header .navbar .list li a {
    color: #fff;
}

header .navbar .list li a:nth-child(1)::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    background-color: red;
    height: 3px;
    width: 0%;
    transition: all 0.5s ease-out;
}

header .navbar .list li a:nth-child(1):hover::after {
    width: 100%;
}

header .navbar .list li h3 {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: black;
    color: #fff;
    position: relative;
    z-index: 2;
}


header .navbar .list li h3::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: red;
    height: 100%;
    width: 0;
    border-radius: 0.5rem;
    transition: all 0.5s ease-out;
    z-index: -1;
}

header .navbar .list li h3:hover::after {
    width: 100%;
}





/* navbar end */

/* hero section start  */

.hero {
    height: 100vh;
    padding: 2rem;
    width: 100%;
    margin: auto;
    color: #fff;
    /* background-image: url('../static/bg.jpg'); */
    /* background-repeat: no-repeat;
    background-size: cover; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
}

.hero .info {
    /* background-color: gray; */
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 0.5rem;
}


.hero .info:hover::after {
    height: 100%;
}

.hero .info::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 0;
    border-radius: 2rem;
    transition: all 0.5s ease-out;
    z-index: -1;
}


.hero .info h3 {
    color: #414141;
}

.hero .info .name {
    font-size: 2.5rem;
    font-weight: 600;
}

.hero .info .para {
    max-width: 80%;
    font-size: 1.2rem;
}

.hero .info .skills {
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.hero .info .skills .skill {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;
}

.hero .info .skills .skill h3 {
    padding: 0.5rem 2rem;
    font-size: 1.2rem;
    background-color: red;
    border-radius: 0.5rem;
    color: #fff;
    max-width: 100%;
}

.hero .info .skills .skill span img {
    width: 4rem;
    rotate: 180deg;

}

.hero .myImg {
    /* background-color: green; */
    max-width: 50%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    cursor: pointer;
    transition: all 0.3s ease-out;
    border-radius: 1rem;
}

.hero .myImg:hover {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
}

.hero .myImg .imgName span {
    margin-left: 0.7rem;
}

.hero .myImg .mail span {
    margin-left: 0.7rem;
}

.hero .myImg img {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
}

.hero .info .skills {
    position: relative;
}

.hero .info .skills .skill-items .skill-inner {
    background-color: #FFF;
    border-radius: 1rem;
    max-width: 80%;
    padding: 1rem;
    font-size: 5rem;
    position: absolute;
    top: -289px;
    right: -206px;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    z-index: 9;
    transition: all 0.2s ease-in-out;

    translate: 0px 0px;
}

.hero .info .skills .skill-items .skill-items-hide {
    transform: scale(0);
    /* translate: -285px 184px; */
    right: -86rem;
}

.hero .info .skills .skill-items .skill-inner .cross {
    font-size: 2rem;
    z-index: 99;
    color: black;
    position: absolute;
    right: 11px;
    top: 5px;
}

.hero .info .skills .skill-items div .fa-html5 {
    color: orangered;
}

.hero .info .skills .skill-items .fa-css3-alt {
    color: blue;
}

.hero .info .skills .skill-items .fa-js {
    color: rgb(235, 184, 34);
}

.hero .info .skills .skill-items .bxl-nodejs {
    color: green;
}

.hero .info .skills .skill-items .fa-square-git {
    color: #000;
}

.hero .info .skills .skill-items .fa-python {
    color: purple;
}

.hero .info .skills .skill-items .bxl-c-plus-plus {
    color: rgb(59, 103, 198);
}

.hero .hero-nav ul {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    padding: 0.5rem;
    border-radius: 2rem;
    display: flex;
    gap: 3rem;
    position: absolute;
    bottom: 87px;
    position: fixed;
    right: 62px;
    cursor: pointer;
}

.hero .hero-nav ul li a {
    font-size: 1.3rem;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .hero-nav ul li a:hover {
    background-color: red;
}

.hero .hero-nav ul li a {
    color: #fff;
}

.hero .hero-nav ul li a.active {
    border: 2px solid blue;
}

/* hero section end  */



/* about section start */

.about {
    height: 100vh;
}


/* about section end */


/* education sction start */

.education{
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3rem;
}
.education .collages{
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

/* education sction end */